{% extends "layout.html" %}

{% block content %}
<h1>Сайты</h1>
<table class="table table-hover table-striped mt-3" data-test="urls">
    <thead>
        <tr>
            <td>ID</td>
            <td>Имя</td>
            <td>Последняя проверка</td>
            <td>Код ответа</td>
        </tr>
    </thead>
    <tbody>
        {% for url in urls%}
            <tr>
                <td>{{ url.id }}</td>
                <td><a href="{{ url_for("get_one_url", id=url.id) }}">{{ url.name }}</a></td>
                <td>Пока не готово</td>
                <td>Пока не готово</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}